*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

body{
    background-color:#111;color:white;
font-family: arial,sans-serif, Arial, Helvetica;
}

header{
    padding: 20px 30px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000; 
    background: #111;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{transition: .3s;}
.nav a:hover{color: #00bfff;
transform: translateY(-2px);}                                                                                                                                                                                                                                                                                                                                 

.Menu{
    display: flex;
    gap:40px ;

}

.Menu a{
    text-decoration: none;
    color: white;
}

.Menu a:hover{
color: lightblue;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 70px 60px 40px 60px;
    position: relative;

}

.hero-left{flex: 1;
z-index: 1;
max-width: 450px;}
.hero-center{flex:1;
    z-index: 2;
display:flex ;
justify-content: center;
}
.hero-right{flex: 1;
z-index: 1;
flex-direction: column;
gap: 45px;
}

.hero-center img{width: 100%;
    max-width: 1020px;
    height: auto;
    display: block;
    margin: 0 auto;
border-radius:15px ;
transition: all 0.4s ease;  
cursor: pointer;
}
.hero-center :hover{transform: scale(1.05);
filter: brightness(1.1);}

.about{margin-bottom: 40px;}
.work{margin-bottom: 40px;
margin-top: 20px;}

.hero-left h1{
    font-size:65px;
    margin-bottom: 20px;
}

.hero-left p{
    color: #bdbdbd;
    line-height: 1.7;
    margin-bottom: 25px;
    text-align: justify;
    font-size: 20px;
}

.hero-right h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-right p{
    color: #bdbdbd;
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: justify;
    font-size: 20px;
}
.btn{
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    transition: 0.3s;
}

.contact{
    margin-bottom: 40px;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.contact i{margin-right: 15px;
font-size: 24px;}
.contact-icons{
    display: flex;
    gap: 20px;
}
.contact a{
    color: white;
    font-size: 30px;
    margin-right:20px ;
    transition: 0.3s;
    text-decoration: none;
}
.contact a:hover{color: #00bfff;}

footer{color: white;
text-align: center;
padding: 20px 0;
margin-top: 40px;}
